<%- include('../layout/header'); -%>

<div class="col-md-10 p-2">
    <div class="container">
    <center><h1 class="page-header"><%= product.title %></h1> </center>
    <div class="row continer p-3 m-5">
        <div class="col-md-4 col-sm-12">
            <img src="../../public/product_images/<%=product._id%>/<%=product.image%>" alt="no_image" style="width: 300px;height: 300px; display: inline-block;">
        </div>
        <div class="col-md-4 col-sm-12 my-auto">
            <b style="font-size: large; margin-bottom:4%;"><%=product.desc%></b>
            <br>
            <b style="font-size: large;margin-bottom:4%">RS.<%=product.price%></b>
            <br>
            <b style="font-size: large;"> <a href="/cart/add/<%=product.slug%>"> ADD TO CART</a></b>
        </div>
       
        
    </div>
    </div>

</div>
</div>





<%- include('../layout/footer'); -%>